
body {
    color: rgb(14, 185, 163);
    background: rgb(89, 64, 160);
    margin: 0px;
font-family: "Orbitron", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(129, 51, 32);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}