
body {
    color: rgb(185, 82, 14);
    background: rgb(160, 78, 64);
    margin: 30px;
font-family: "Orbitron", sans-serif;
}

header {
    border-bottom: solid 2px rgb(228, 79, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 48, 42);
}

section {
    background: rgb(129, 38, 32);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}