
body {
    color: rgb(36, 159, 168);
    background: rgb(41, 184, 184);
    margin: 30px;
font-family: "Orbitron", sans-serif;
margin-bottom:  100px;
}


header {
    border-bottom: solid 2px rgb(15, 122, 136);
    padding: 20px;
    font-size: 32px;
    color: rgb(56, 219, 206);
}


 .chamada {
    background: rgb(156, 200, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos{
    opacity: 1.0;
    border: 3px solid rgb(0, 124, 128);
}

.categoria h2 {
    color: rgb(42, 206, 228);
}
